* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
  }
  
  .main {
    background-color: rgb(237, 255, 255);
    height: auto;
    width: 100vw;
  }
  
  .nav {
    background-color: #333;
    height: 8vh;
    width: 100vw;
    border-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-left {
    flex: 1;
    height: 100%;
  }
  
  .nav-right {
    display: flex;
    height: 100%;
  }
  
  .navbar-item {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: max-content;
    font-size: medium;
    color: aliceblue;
    transition: background-color 0.3s ease;
  }
  
  .home {
    font-size: larger;
  }
  
  .navbar-item:hover {
    background-color: aliceblue;
    color: #333;
  }
  
  /* Login/registration */
  
  .form-wrapper {
    background-color: rgb(237, 255, 255);
    border-radius: 12px;
    box-shadow: 1px 2px 5px #333;
    width: fit-content;
    margin: 5% auto;
    padding: 80px;
  }
  
  .form-header {
    color: #333;
    margin-bottom: 40px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 18px;
    width: 100%;
  }
  
  .form-label {
    font-size: medium;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: aliceblue;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    transition: background-color 0.3s ease;
    font-family: "Times New Roman", Times, serif;
  }
  
  .form-button:hover {
    background-color: aliceblue;
    cursor: pointer;
    color: #333;
  }
  
  .footer-text {
    color: #0066c0;
  }
  .footer-text:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  /*Product detail page*/
  .product-detail--wrapper {
    background-color: rgb(237, 255, 255);
    border-radius: 1rem;
    box-shadow: 1px 2px 5px #333;
    width: 90%;
    margin: 5% auto;
    padding: 2rem;
  }
  
  .product-detail--img {
    max-width: 45vmin;
    max-height: 45vmin;
  }
  
  .product-detail--img-container {
    display: flex;
    max-width: 50%;
    position: relative;
    border-radius: inherit;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  .product-detail--zoom-img {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    padding: 0.6rem;
    background-color: aliceblue;
    border: 1px dotted aqua;
    border-radius: 50%;
    box-shadow: 1px 2px 5px #333;
  }
  
  .product-detail--zoom-img:hover {
    background-color: white;
    border-width: 3;
  }
  
  .display-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* TODO making desin responsive*/
    justify-content: space-between;
    gap: 2rem;
  }
  
  .product-detail--info-container {
    width: 50%;
    padding: 1rem;
    background-color: white;
    border-radius: inherit;
  }
  .dinamic-text-size {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  
  .product-detail--description {
    overflow: hidden;
  }
  
  .product-detail--price-span {
    font-size: larger;
    font-weight: 800;
  }
  
  .product-detail--dialog-img {
    width: 100%;
  }
  
  .product-detail--img-container-dialog {
    border: 0 solid white;
    border-radius: inherit;
  }
  
  .product-detail--img-container-dialog::backdrop {
    background: rgba(10, 10, 10, 0.3);
  }
  
  
  @media only screen and (max-width: 500px) {
    .display-flex-container {
      flex-direction: column-reverse;
    }
  
    .product-detail--img-container {
      max-width: 100%;
    }
  
    .product-detail--img {
      max-width: 65vmin;
      max-height: 65vmin;
    }
  
    .product-detail--info-container {
      width: 100%;
    }
  }
  
  .product-details-container {
    display: flex;
  
  }
  
  .product-left-container {
    display: flex;
  
  }
  
  .product-right-container {
    display: flex;
    flex-direction: column;
  }
  
  .product-price {
    font-size: xx-large;
    color: #333;
    padding: 10px;
    padding-left: 0px;
  }
  
  
  .product-img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 12px;
    padding: 15px;
  }
  
  .product-card {
    background: whitesmoke;
    
    margin:auto;
    height: auto;
    width: min-content;
    border-radius: 12px;
    box-shadow: 1px 2px 5px #333;
    overflow: hidden;
    
  }
  
  .product-header-container{
    background: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .button-container{
    display: flex;
    flex-direction: row;
  }
  
  .product-name {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-size: large;
    color: rgb(237, 255, 255);
  }
  
  .product-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .card-btn{
    height: 30px;
    width: 30px;
    padding: 2px;
  }
  
  