<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CART FORM TEST ***********************</title>
    <link rel="stylesheet" href="../../styles/style.css" />
  </head>
  <body>
    <form class="cart-form--form">
      <div class="cart-form--container">
        <label for="amount-of-this.product.title">Amount:
        <input
          class="form-input"
          id="amount-of-this.product.title"
          type="number"
          min="1"
          max="100"
          name="amount-of-this.product.title"
          value="1"
        /></label>
      </div>
      <div class="cart-form--container">
        <button class="product-detail--add-to-cart-btn form-button">
          Add to Cart
        </button>
      </div>
    </form>
  </body>
</html>
